.version.contact_us /* version checker */
{
	color: #00000E;
	background-color: #1A10E6;
}

.html
{
	background: #FFFFFF url("../images/121655%20down.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1270px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 251px;
	padding-bottom: 772px;
	width: 0.01px;
}

#u957
{
	z-index: 2;
	min-height: 159px;
	padding-bottom: 88px;
}

#u957_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u958-4
{
	z-index: 3;
	width: 617px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 111px;
	left: 272px;
}

#u958-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 617px;
	margin: 111px -10000px 0px 0px;
}

#u957-bw
{
	z-index: 2;
	min-height: 159px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 101px;
}

#page .verticalspacer
{
	clear: both;
}

