#u957
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background: transparent url("../images/121655.jpg") no-repeat center center;
	background-size: cover;
}

#u957_align_to_page
{
	position: relative;
}

#u958-4
{
	background-color: transparent;
	color: #D8D7FF;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 10px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u958-4:hover p
{
	color: #D8D7FF;
	visibility: inherit;
	letter-spacing: 5px;
	text-align: center;
}

