.version.remote_beta /* version checker */
{
	color: #00001F;
	background-color: #679328;
}

.html
{
	background: #FFFFFF url("../images/pexels-photo.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1283px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 319px;
	padding-bottom: 830px;
	width: 0.01px;
}

#u255
{
	z-index: 2;
	min-height: 91px;
	padding-bottom: 43px;
}

#u255_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u257-4
{
	z-index: 3;
	width: 617px;
	min-height: 48px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 272px;
}

#u257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 617px;
	margin: 43px -10000px 0px 0px;
}

#u255-bw
{
	z-index: 2;
	min-height: 91px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

